*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

.saira-stencil-fonts {
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(images/team.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 100px;
}
.nav-links{
   flex: 1;
   text-align: right;
   font-family: "Saira Stencil", sans-serif;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #17862f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 60px;
    font-family: "Saira Stencil", sans-serif;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

nav .fa-solid{
    display: none;
}

@media (max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute ;
        background: #17862f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: right 0.3s ease;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 40px;
    }
    /*html, body{
        overflow-x: hidden;
        min-width: 700px; */
    }


/* Section for non-main pages */
.sub-header{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(200, 149, 197);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: black;
    h1{
        font-size: 40px;
        font-family: "Saira Stencil", sans-serif;
        padding-top: 20px;
    }
    h3{
        font-size: 20px;
        font-family: "Saira Stencil", sans-serif;
        padding-top: 20px;
    }
    p{
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        padding-top: 10px;
    }

}


/* Section for fixtures */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #8dd19c;
}
tr:nth-child(odd) {
  background-color: #bcd7c2;
}

tr:hover {background-color: #ece67d;}

table {
  width: 100%;
  margin-top: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.caution {
  font-size: 12px;
}

/* Section for turf fees */
.iframe-container {
   width: 100%;
    text-align: center;
}

.iframe-container, iframe{
    margin: 0 auto;
    display: block;
}
